body {
    font-family: 'Roboto Slab', serif;
    font-weight: 600 !important;
}

:root {
    --cor-azul: #030E4F;
    --cor-cinza: #CCCCCC;
}

h1 {
    font-size: 60px !important;
    font-weight: 900 !important;
}

h2 {
    font-size: 35px !important;
}

h3 {
    font-size: 25px !important;
    font-weight: 500 !important;
}

/*/////////////////////////// Navbar ///////////////////////////*/

.navbar {
    font-weight: 900 !important;
    position: fixed !important;
    width: 100%;
    background-color: #FFFFFF;
    z-index: 9999;
}

.navbar-brand {
    color: var(--cor-azul) !important;
}

.nav-link:hover {
    border-bottom: 2px solid var(--cor-azul) !important;
    color: var(--cor-azul) !important;
}

/*/////////////////////////// Dark-mode ///////////////////////////*/

.btn-darkmode {
    position: fixed;
    top: 5rem;
    right: 1rem;
    max-width: 3rem;
    max-height: 3rem;
    z-index: 9999;
}

/*/////////////////////////// Apresentação ///////////////////////////*/

.apresentacao {
    padding: 11em 4em;
    background-image: url('./img/fundo-network.svg');
}

.btn-contato {
    border: 3px solid var(--cor-azul) !important;
    border-radius: 8px;
    color: var(--cor-azul);
    width: 100%;
    transition: 1s all !important;
}

.btn-contato:hover {
    background-color: var(--cor-azul) !important;
    color: #FFFFFF !important;
}

/*/////////////////////////// Sobre mim ///////////////////////////*/
.img-perfil {
    max-height: 400px;
    position: relative;
    bottom: 2rem;
    left: 2rem;
    border-radius: 20px;
}

#moldura-foto {
    border: 3px solid var(--cor-azul);
    border-radius: 20px;

}

.sobre-mim {
    width: 50%;
}

.btn-curriculo {
    border: 3px solid var(--cor-azul) !important;
    border-radius: 8px;
    color: var(--cor-azul);
    width: 40%;
    transition: 1s all !important;
}

.btn-curriculo:hover {
    background-color: var(--cor-azul) !important;
    color: #FFFFFF !important;
}

/*/////////////////////////// Minhas Skills ///////////////////////////*/

.minhas-skills {
    width: 50%;
}

.skill-progressos {
    width: 40%;
}

.progresso {
    width: 70%;
}

.skills-card {
    width: 100%;
}

.icones-estudados {
    transition: 0.5s;
    margin-top: 8rem;
}

.icones-estudados:hover {
    transform: scale(2);
}

.github-icone-light {
    background-image: url('img/img-skills/icons8-github.svg');
    width: 50px;
    background-repeat: no-repeat;
}

/*/////////////////////////// Projetos ///////////////////////////*/

.projetos {
    background-image: url('./img/background\ 2.svg');
    background-repeat: no-repeat;
    background-size: 100%;
}

.lista-cards {
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(3, 1fr);
}

.card-projeto {
    transition: 0.5s;
}

.img-projeto {
    max-width: 100%;
    opacity: 0.7;
    transition: 0.5s;
}


.descricao-card {
    position: absolute;
}

.nome-projeto {
    color: #FFFFFF;
    font-weight: 900;
    background-color: var(--cor-azul);
}

.ver-mais-card {
    display: none;
    width: 100%;
    background-color: var(--cor-azul);
    color: #FFFFFF;
    border-radius: 0 0 8px 8px;
}

.card-projeto:hover {
    transform: scale(1.1);
}

.card-projeto:hover .img-projeto {
    opacity: 1;
    transition: 0.7s;
}

.card-projeto:hover .ver-mais-card {
    display: block;
}

.card-projeto:hover .descricao-card {
    display: none;
}

/*/////////////////////////// Contato ///////////////////////////*/
.form-titulo {
    color: var(--cor-azul);
    width: 30%;
}

.form {
    width: 60%;
}

.mensagem {
    min-height: 40%
}

#btn-enviar-msg {
    color: var(--cor-azul);
    border: 2px solid var(--cor-azul);
    background-color: #FFFFFF;
    transition: 1s all;
}

#btn-enviar-msg:hover {
    color: #FFFFFF;
    background-color: var(--cor-azul);
}

.logo-rede {
    width: 50px;
    padding-bottom: 0.5rem;
}

.links-contato {
    width: 100%;
    margin-top: 8rem;
}

.redes-sociais {
    border: 3px solid var(--cor-azul);
    border-radius: 8px;
    padding: 1rem;
    min-width: 20%;
    text-decoration: none;
    color: #FFFFFF;
    background-color: var(--cor-azul);
    transition: 0.5s all;
}

.git2 {
    display: none;
}

.redes-sociais:hover {
    background-color: #FFFFFF;
    color: var(--cor-azul);
}

.git-hover:hover .git2 {
    display: inline-block;
    transform: scale(1.6);
}

.git-hover:hover .git1 {
    display: none;
}

/*/////////////////////////// Copyright ///////////////////////////*/

.copyright {
    background-color: var(--cor-azul);
    color: #FFFFFF;
}

/*////////////////////////// Generalizações //////////////////////*/
.apresentacao,
#sobre--mim,
#minhas--skills,
#sec-projeto,
#sec-contato {
    min-height: 100vh;
}

h1,
h2,
h3 {
    color: var(--cor-azul) !important;
}