/*/////////////////////////// Dark-mode / Light-mode ///////////////////////////*/

.btn-darkmode {
    position: fixed;
    top: 5rem;
    right: 1rem;
    max-width: 3rem;
    max-height: 3rem;
}

/*/////////////////////////// Principal ///////////////////////////*/

.dark-mode-body,
.navbar-dark {
    background-image: url('./img/Frame 1.png');
    background-repeat: repeat-y;
    background-size: 100%;
}

.dark-texto-cor {
    color: var(--cor-cinza) !important;
}

/*/////////////////////////// Navbar ///////////////////////////*/

.nav-link-dark:hover {
    border-bottom: 2px solid var(--cor-cinza) !important;
    color: var(--cor-cinza) !important;
}

/*/////////////////////////// Minhas skills ///////////////////////////*/
.github-icone-dark {
    background-image: url('./img/github-white.png') !important;
}

/*/////////////////////////// Contato ///////////////////////////*/

.btn-enviar-msg-dark {
    color: var(--cor-cinza);
    border-color: var(--cor-cinza);
    background: none !important
}

.btn-enviar-msg-dark:hover {
    background-color: var(--cor-azul) !important;
}

/*/////////////////////////// Generalizações ///////////////////////////*/

.borda-dark {
    border-color: var(--cor-cinza) !important;
}