.dark-mode-body,
.navbar-dark {
    background-image: url('./img/Frame 1.png');
    background-repeat: repeat-y;
    background-size: 100%;
}

.dark-texto-cor {
    color: var(--cor-cinza) !important;
}

/*/////////////////////////// Navbar ///////////////////////////*/
/* .navbar-brand,
.nav-link {
    color: var(--cor-cinza) !important;
} */

.nav-link:hover {
    border-bottom: 2px solid var(--cor-cinza) !important;
    color: var(--cor-cinza) !important;
}

/*/////////////////////////// Dark-mode ///////////////////////////*/

.btn-darkmode {
    position: fixed;
    top: 5rem;
    right: 1rem;
    max-width: 3rem;
    max-height: 3rem;
}

/*/////////////////////////// Apresentação ///////////////////////////*/

.btn-contato-dark {
    /* color: var(--cor-cinza) !important; */
    border-color: var(--cor-cinza) !important;
}

/*/////////////////////////// Sobre mim ///////////////////////////*/

.moldura-foto-dark {
    border-color: var(--cor-cinza) !important;
}


.btn-curriculo-dark {
    border-color: none !important;
    background-color: var(--cor-cinza) !important;
}

/*/////////////////////////// Contato ///////////////////////////*/

.btn-enviar-msg-dark {
    color: var(--cor-cinza);
    border-color: var(--cor-cinza);
    background: none !important
}

.btn-enviar-msg-dark:hover {
    background-color: var(--cor-azul) !important;
}