body {
    font-family: 'Roboto Slab', serif;
    font-weight: 600 !important;
}

:root {
    --cor-azul: #030E4F;
    --cor-amarelo: #F49F1C;
}

h1 {
    font-size: 60px !important;
    font-weight: 900 !important;
}

h2 {
    font-size: 35px !important;
}

h3 {
    font-size: 25px !important;
    font-weight: 500 !important;
}

/*/////////////////////////// Navbar ///////////////////////////*/

.navbar {
    font-weight: 900 !important;
    position: fixed !important;
    width: 100%;
    background-color: #FFFFFF;
}

.navbar-brand {
    color: var(--cor-azul) !important;
}

.nav-link:hover {
    border-bottom: 2px solid var(--cor-azul) !important;
    color: var(--cor-azul) !important;
}

/*/////////////////////////// Apresentação ///////////////////////////*/

.apresentacao {
    /* background-color: #666666; */
    padding: 11em 4em;
    background-image: url('./img/fundo-network.svg');
}

.btn-contato {
    border: 3px solid var(--cor-azul) !important;
    border-radius: 8px;
    ;
    color: var(--cor-azul);
    width: 100%;
}

.btn-contato:hover {
    background-color: var(--cor-azul) !important;
    color: #FFFFFF !important;
    transition: 1s all !important;
}

.btn-contato:hover~::after {
    background-image: url('./img/github.png');
}

/*/////////////////////////// Sobre mim ///////////////////////////*/

.img-perfil {
    max-height: 400px;

}

.sobre-mim {
    width: 50%;
}

.btn-curriculo {
    border: 3px solid var(--cor-azul) !important;
    border-radius: 8px;
    color: var(--cor-azul);
    width: 40%;
}

.btn-curriculo:hover {
    background-color: var(--cor-azul) !important;
    color: #FFFFFF !important;
    transition: 1s all !important;
}

/*/////////////////////////// Minhas Skills ///////////////////////////*/

.minhas-skills {
    width: 50%;
}

.img-skills {
    width: 35%;
    background-color: #030E4F;
}

/*/////////////////////////// Projetos ///////////////////////////*/

.projetos {
    background-image: url('./img/background\ 2.svg');
    background-repeat: no-repeat;
    background-size: 100%;
}

.lista-cards {
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(3, 1fr);
}

.card-projeto {
    transition: 0.5s;
}

.img-projeto {
    max-width: 100%;
    opacity: 0.7;
    transition: 0.5s;
}


.descricao-card {
    position: absolute;
}

.nome-projeto {
    color: #FFFFFF;
    font-weight: 900;
    background-color: var(--cor-azul);
}

.ver-mais-card {
    display: none;
    width: 100%;
    background-color: var(--cor-azul);
    color: #FFFFFF;
    border: 0;
    border-radius: 0 0 8px 8px;
}

.card-projeto:hover {
    transform: scale(1.1);
}

.card-projeto:hover .img-projeto {
    opacity: 1;
    transition: 0.7s;
}

.card-projeto:hover .ver-mais-card {
    display: block;
}

.card-projeto:hover .descricao-card {
    display: none;
}

/*/////////////////////////// Contato ///////////////////////////*/
.form-titulo {
    color: var(--cor-azul);
    width: 30%;
}

.form {
    width: 60%;
}

.mensagem {
    min-height: 40%
}

#btn-enviar-msg {
    color: var(--cor-azul);
    border: 2px solid var(--cor-azul);
    background-color: #FFFFFF;
}

#btn-enviar-msg:hover {
    color: #FFFFFF;
    background-color: var(--cor-azul);
    transition: 1s all;
}

.logo-rede {
    width: 50px;
    padding-bottom: 0.5rem;
}

.links-contato {
    width: 100%;
    margin-top: 8rem;
}

.redes-sociais {
    border: 3px solid var(--cor-azul);
    border-radius: 8px;
    padding: 1rem;
    min-width: 20%;
    text-decoration: none;
    color: #FFFFFF;
    background-color: var(--cor-azul);
}

.git2 {
    display: none;
}

.redes-sociais:hover {
    background-color: #FFFFFF;
    color: var(--cor-azul);
}

.git-hover:hover .git2 {
    display: inline-block;
}

.git-hover:hover .git1 {
    display: none;
}

/*/////////////////////////// Copyright ///////////////////////////*/

.copyright {
    background-color: var(--cor-azul);
    color: #FFFFFF;
    /* position: relative;
    bottom: 0;
    width: 100%; */
}