body {
    font-family: 'Roboto Slab', serif;
    font-weight: 600 !important;
}

:root {
    --cor-azul: #030E4F;
    --cor-amarelo: #F49F1C
}

h1 {
    font-size: 60px !important;
    font-weight: 900 !important;
}

h2 {
    font-size: 35px !important;
}

h3 {
    font-size: 25px !important;
    font-weight: 500 !important;
}

/*/////////////////////////// Navbar ///////////////////////////*/

.navbar {
    font-weight: 900 !important;
}

.navbar-brand {
    color: var(--cor-azul) !important;
}

.active {
    color: var(--cor-azul) !important;
    border: 2px solid var(--cor-azul) !important;
    border-radius: 8px;
    box-shadow: inset 0px 0px 4px var(--cor-azul);
}


.nav-link:hover {
    border-bottom: 2px solid var(--cor-azul) !important;
    color: var(--cor-azul) !important;
}

/*/////////////////////////// Apresentação ///////////////////////////*/

.apresentacao {
    /* background-color: #666666; */
    padding: 11em 4em;
    background-image: url('./img/fundo-network.svg');
}

.btn-contato {
    border: 3px solid var(--cor-azul) !important;
    border-radius: 8px;;
    color: var(--cor-azul);
    width: 100%;
}

.btn-contato:hover {
    background-color: var(--cor-azul) !important;
    color: #FFFFFF !important;
    transition: 1s all !important;
}

.btn-contato:hover~::after {
    background-image: url('./img/github.png');
}

/*/////////////////////////// Sobre mim ///////////////////////////*/

.img-perfil {
    max-height: 400px;

}

.sobre-mim {
    width: 50%;
}

.btn-curriculo {
    border: 3px solid var(--cor-azul) !important;
    border-radius: 8px;
    color: var(--cor-azul);
    width: 40%;
}

.btn-curriculo:hover {
    background-color: var(--cor-azul) !important;
    color: #FFFFFF !important;
    transition: 1s all !important;
}

/*/////////////////////////// Minhas Skills ///////////////////////////*/

.minhas-skills {
    width: 50%;
}

.img-skills {
    width: 35%;
    background-color: #030E4F;
}

/*/////////////////////////// Projetos ///////////////////////////*/

.projetos {
    background-image: url('./img/background\ 2.svg');
    background-repeat: no-repeat;
    background-size: 100%;
}